<div *ngIf="telaParaApresentar=='lista'">
  <form #formularioTarefa="ngForm"
    (submit)="submitFormularioTarefa(formularioTarefa.value); formularioTarefa.resetForm();">
    <div class="form-group">
      <h1 class="text-center">Lista de Tarefas</h1>
      <div class="input-group-prepend">
        <input type="text" placeholder="Adicionar tarefa" name="tarefa" #tarefa [(ngModel)]="tarefaNomeModel"
          maxlength="5" class="form-control">
        <span (click)="adicionarTarefa(tarefa.value);" class="input-group-text">
          <i class="material-icons">add</i>
        </span>
      </div>
    </div>
    <div class="data">
      <ul class="list-unstyled">
        <li [@moveInLeft] *ngFor="let itemdoarray of listaTarefaTipada">{{itemdoarray.nome}}
          <i class="material-icons" (click)="removerTarefa(itemdoarray.id);">delete</i>
          <i class="material-icons" (click)="editarTarefa(itemdoarray.id);">edit</i>
          <i class="material-icons" (click)="detalharTarefa(itemdoarray.id);">visibility</i>
        </li>
      </ul>
    </div>
  </form>
</div>

<app-tarefas-detalhe
*ngIf="telaParaApresentar=='detalhe'"
[tarefaParaDetalhar]="tarefaSelecionada"
[finalizarVisualizacao]="fecharDetalhes"></app-tarefas-detalhe>

